.coin_icon {
    border-radius: 1000000px;
    background-color: gold;
    border: 1px solid rgb(139, 108, 27);
    color: rgb(150, 113, 19);
    display: block;
    /* text-shadow: -1px -1px 0px #fffab9, 1px 1px 0px #fffab9; */

    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 400;
    font-variant: normal;
    font-family: var(--font-noto-serif);
    box-shadow: 2px 2px 5px #ccc;

    text-align: center;
    min-width: 44px;

    &::after {
        content: "¢";
    }
}

.bill_icon {
    border-radius: 3px;
    background-color:  rgb(211, 233, 211);
    border: 2px solid rgb(142, 165, 142);
    color:  rgb(97, 126, 97);
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

    font-weight: 400;
    font-variant: normal;
    font-family: var(--font-noto-serif);
    box-shadow: 2px 2px 5px #ccc;

    text-align: center;
    min-width: 70px;

    &::before {
        content: "$";
    }
}

@media (prefers-color-scheme: dark) {
    .coin_icon {
        box-shadow: none;
        border: 2px solid rgb(171, 134, 41);

    }

    .bill_icon {
        box-shadow: none;
        border-color: rgb(74, 144, 74);
        background-color:  rgb(138, 190, 138);

    }
}