body {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  body {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: grid;  
  grid-template: 
    "amounts change_returned"
  ;
  row-gap: 5px;
  padding: 30px;
  column-gap: 12px;
}

.amounts {
  display: grid;
  background-color: rgb(234, 243, 246);
  border-radius: 5px;
  row-gap: 5px;
  grid-auto-flow: row;
  max-width: 300px;
  padding: 30px;
  grid-area: amounts;
  align-content: center;

  input[type="number"] {
    font-size: 120%;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-bottom: 1px solid rgb(108, 137, 146);
  }
}

.change_owed {
  font-family:  Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  background-color:rgb(211, 221, 224);
  font-size: 120%;
}

.change_returned {
  display: grid;
  gap: 5px;
  padding: 10px;
  grid-area: change_returned;
  grid-template-columns: 
    auto auto auto
  ;
  border: 2px dashed rgb(211, 221, 224);
  border-radius: 5px;
}

.denomination_display {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: subgrid;
  justify-items: center;
  align-items: baseline;
  column-gap: 10px;

  &.inactive {
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  .amounts {
    background-color: rgb(38, 38, 38);
  }

  .change_owed {
    background-color:#1a1a1a
  }

  .change_returned {
    border-color: rgb(38, 38, 38);
  }
}

.current_purchase_name {
  /* font-size: 120%; */
  padding: 5px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.save_purchase_button {
  /* font-size: 120%; */
  padding: 5px;
}

.previous_purchases {
  display: grid;
  row-gap: 10px;
}

.purchase {
  .purchase_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}